[2020-12-29 09:57] awtkns opened #2 "[FEAT] PyMongo / MongoDB Support"

[2020-12-29 09:58] awtkns opened #3 "Databases / Async SQLAlchemy Support"

[2020-12-29 09:59] awtkns opened #4 "Eliminating the need for create schemas"

[2020-12-29 10:01] awtkns opened #5 "Renaming all refences of Pydantic Basemodels to schemas."
This would help to avoid confusion.  The function prototype bellow is frankly confusing and should be  standardized

[code]

[2020-12-31 01:12] awtkns opened #6 "Specifying which routes should not be generated"

[2020-12-31 02:20] #3 closed

[2020-12-31 02:25] #6 closed

[2021-01-03 04:33] #4 closed

[2021-01-03 22:38] #5 closed

[2021-01-05 20:02] awtkns opened #11 "Add Tests for implementations with foreign keys"

[2021-01-07 05:06] awtkns opened #14 "[FEAT] Nested CRUD Route generation for nested pydantic models"

[2021-01-07 18:19] awtkns opened #15 "[FEAT] Tortoise orm support"

[2021-01-07 20:16] awtkns opened #18 "📝 Update image in readme in relation to #16"

[2021-01-07 20:17] awtkns commented on #18
in relation to #16

[2021-01-08 07:11] gamesbook opened #19 "Redis support?"
It would be amazing to have support for directly storing/retrieving model data in Redis, without the need for an extra SQLAlchemy layer.

[2021-01-08 08:05] awtkns commented on #19
It should be relatively easy to implement with just pydantic models + redis. Not sure on the timeline for this feature though.

[2021-01-08 08:09] awtkns commented on #19
Also I am not entirely sure redis is meant to used in this way (as data store) as there is no guaranteed data persistence.

[2021-01-08 08:20] gamesbook commented on #19
I think Redis **can** be used this way - and there are certainly use cases for small database-type apps that don't need the overhead of a Real Database (my use case is a generic messaging system that holds small amounts of data for users and only retains messages until they have been sent).  http://oldblog.antirez.com/post/redis-persistence-demystified.html provides some good insights and comparis

[2021-01-08 08:44] awtkns commented on #19
Ok. That makes more sense. I'll see if I can implement this into a future version.

[2021-01-10 16:10] ChethanUK opened #20 "fast-apicrudrouter not working on Python 3.8"
fastapi_crudrouter is not working on Py3.8

[code]

API Version:

[code]

[2021-01-10 21:58] awtkns commented on #20
Do you have sqlachemy installed?

[2021-01-11 21:31] #20 closed

[2021-01-11 21:50] awtkns commented on #20
We have fixed this issue it should work now with the latest release O.3.2

[2021-01-12 01:26] timwford commented on #15
What does this look like in your eyes? I have a pipeline setup that auto generates schemas from tortoise ORM. Wouldn't you want to just use the schemas from that?

[2021-01-12 01:36] awtkns commented on #15
I haven't used Tortoise much before but I would imagine it would be very similar to the way it is [used with SQLAclchemy](https://fastapi-crudrouter.awtkns.com/backends/sqlalchemy).

**So something like this:**
[code]

Thoughts?

[2021-01-12 02:12] awtkns opened #22 "[FEAT] Query and Pagination support"

[2021-01-12 02:28] timwford commented on #15
I like it. I'd work on this if there wasn't an incredibly tight timeline you'd be looking for it.

[2021-01-12 02:53] awtkns commented on #15
Awesome! It should be pretty easy. The actual implementation could closely follow [this](https://github.com/awtkns/fastapi-crudrouter/blob/master/fastapi_crudrouter/core/sqlalchemy.py).

[2021-02-19 06:19] dineshkumarkb opened #29 "TypeError: __init__() got an unexpected keyword argument 'prefix'"
Hi there,

I tried to create a sample code from the documentation. However it throws a type error.

Please find my code and other details below.

Code:
[code]

When I try to execute this, I get the following error.

[code]

Am I missing something?

Python version : 3.8.5
OS : Ubuntu 20.04

[2021-02-20 00:33] #15 closed

[2021-02-20 01:09] awtkns commented on #29
Hi there thanks for the feedback! I tested this with fastapi version 0.62.0+ and it worked. It seems prefix was a new feature in v.0.62 so that likely your issue. What version were you using?

Release notes: https://fastapi.tiangolo.com/release-notes/#0620

I am looking a workarounds for older versions of fastapi.

[2021-02-20 01:21] #29 closed

[2021-02-20 01:22] awtkns commented on #29
Thanks @dineshkumarkb!

[2021-02-26 22:29] #2 closed

[2021-02-27 02:04] timwford opened #32 "Mongo Support"
Probably use ODMantic: https://github.com/art049/odmantic

How would you test the implementation? mock a mongo db?

[2021-02-27 08:03] awtkns commented on #32
I agree.  We should support mongo support mongo.  I think it would be fairly easy with odmantic! Alternatively just the motor and pydantic could work.

[2021-02-27 08:06] awtkns commented on #32
Testing mongo could be done with docker potentially

[2021-03-07 00:09] awtkns opened #35 "Translations for Documentation"

[2021-03-07 01:27] #22 closed

[2021-03-07 01:30] #18 closed

[2021-03-07 05:14] DorskFR opened #37 "[FEAT] Different dependencies per function"
Hello,

I am looking at modifying your crudrouter to work with Marmelab's react-admin.

To work with their Listview, I added pagination, sort column and order, column filter and result count to the get_all function.

To work with their Edit and Create views, I have permissions rules on the front end but I would like to have some on the backend too.

I added a dependency to the router and check the

[2021-03-07 05:51] awtkns commented on #37
Hey thanks for the feedback! Definitely excited to see crud router in action with the dashboard.

I actually added pagination support today with `limit` and `skip` to the `get_all` function ([docs](https://fastapi-crudrouter.awtkns.com/pagination/)). Curious to see your implementation though; I did not add support for filtering yet.

With regards to what you are proposing with the dependencies, I

[2021-03-07 08:01] DorskFR commented on #37
Thanks for your answer

For now I cheated using the Request object in a dependency:
`if request.method in ["PUT", "DELETE"] and not "admin" in permissions:`
but will definitely look where you indicated, thank you.

With react-admin the path params are like this:
`"GET /products?filter=%7B%7D&range=%5B0%2C4%5D&sort=%5B%22code%22%2C%22ASC%22%5D HTTP/1.1" 200 OK`

so:

[code]

React-admin also needs

[2021-03-07 16:27] awtkns commented on #37
Thanks for taking the time to share! Its always cool to see how people are using the package. I am hoping to add native filter and sort support in the next big feature release. (Probably in early April).

Do let me know once you get it all working, It would be interesting to see them both working together!

[2021-03-09 09:39] DorskFR commented on #37
This time working good for filtering across all columns, column by column, multi columns and array of values.

[code]

[code]

If that can be of some use.

Thanks again for Crudrouter, its making me gain a lot of time!

[2021-03-09 23:46] awtkns commented on #37
Thanks man! Happy to hear it is working well 😄

[2021-03-11 14:27] davidgfr opened #38 "CrudRouter Lazy loading support"
Hello,
I would like to know if there is a way to have "lazy loading" using crudrouter on fastapi?
Is there a solution or a manner to do it?
Thank you in advance.

[2021-03-11 21:15] awtkns commented on #38
Hi There. So by default I believe it supports lazy loading. It all depends on how you've set up your database models, your pydantic models, and your ORM. None of the "lazy loading" is handled by crudrouter but rather your ORM

[2021-03-15 07:22] DorskFR opened #39 "route overload"
Hi,

I am trying to overload a route.

My structure is that crudrouters are in a separate file:

crudrouter.py

[code]

main.py

[code]

it works perfectly.

However when I try to overload:

[code]

Following your example:

[code]

I am unable to overload using the router.

I tried:
- using orders_routers.get() in the crudrouter.py right after the definition of the SQLAlchemyCRUDRouter
- using ord

[2021-03-15 20:46] davidgfr commented on #38
Hi @awtkns, could you please how to setup database models, pydantic models and orm to have "lazy loading", I tried to find a solution but no way to do that!
"Normal lazy loading" is working but how to do that when I use crudrouter?
Thank you in advance for your help!

[2021-03-16 05:13] awtkns commented on #39
Hello again @DorskFR. Thanks for the detailed issue as always.

I tried it myself and I think you issue is the trailing slash. Try this and let me know if it works.

[code]

[2021-03-16 05:44] awtkns commented on #38
HI @davidgfr below is a full example with sqlalchemy lazy loading

[code]

[2021-03-16 05:51] DorskFR commented on #39
Hello,

Thank you for your answer.

That was indeed my mistake: trailing slash + I forgot the dependencies of the router would still apply which makes perfect sense.

So as you wrote above to overload the route while staying within the context of the router and using app.get to completely overwrite the route including the dependencies.

Thank you!

[2021-03-16 05:51] #39 closed

[2021-03-16 06:07] #14 closed

[2021-03-16 06:07] awtkns commented on #38
@davidgfr good to close this now?

[2021-03-16 06:08] #11 closed

[2021-03-18 09:49] davidgfr commented on #38
Hi @awtkns , I will check this and let you know before closing the issue! Thank you!

[2021-03-19 19:41] EthanHaid opened #41 "Pagination fails when limit is null"
![image](https://user-images.githubusercontent.com/46946968/111834124-5f559d00-88b0-11eb-9ef0-08adabce6692.png)

pls sir i need this for PeRf TeSTiNg

[2021-03-19 19:41] awtkns commented on #41
https://github.com/awtkns/fastapi-crudrouter/blob/6a562a92363a889ce25bb1ffb7f2c95140793ccc/fastapi_crudrouter/core/_utils.py#L58

[2021-03-20 05:40] awtkns commented on #41
Thanks for finding this @EthanHaid. The it should be fixed in the newest version 🙏

[2021-03-20 05:42] #41 closed

[2021-03-22 09:43] collerek opened #44 "Support for ormar backend"
Hi,

I'm creator of [`ormar`](https://github.com/collerek/ormar) which is an async "mini" ORM with `pydantic` validation, that can be used directly (as request and response models) with `fastapi`.

I want to make `ormar` a full-fledged member of the `fastapi` ecosystem, so I'm asking if you would like to add `ormar` support to `fastapi-crudrouter`? I can probably issue a PR with this functionality

[2021-03-22 13:32] fatou98 opened #45 "Data pagination with offset and limit"
I want to do pagination with offset and limit using fast-crurdrouter, but in the parameters I can't specificy in the parameters with SQLALCHEMYCRUDROUTER.

[2021-03-22 13:34] #38 closed

[2021-03-23 05:43] awtkns commented on #45
Hi there. Would you be able to give me some more context? What version of fastapi-crudrouter are you using? I would recommend upgrading to the latest version if you haven't already.

[2021-03-23 05:53] awtkns commented on #44
Hey @collerek. I just took a look through omar and I would be totally on board with this.  I think cross collaboration with the community is great.

Implementation wise, it would recommend taking a look at the [sqlalchemy crudrouter](https://github.com/awtkns/fastapi-crudrouter/blob/master/fastapi_crudrouter/core/sqlalchemy.py) to base your implementation off of. From there, you can add omar as an

[2021-03-25 07:03] awtkns opened #49 "Add Integrity Error Messages + Tests for All Crudrouters"
- [x] Sqlalchemy #48
- [ ] In Memory
- [ ] Databases
- [ ] Tortoise

[2021-03-25 17:23] awtkns commented on #37
@DorskFR is this a PR you are still interested in? Otherwise I might start on the implementation.

[2021-03-25 23:50] DorskFR commented on #37
Hello @awtkns ,

Thank you for your message.

My reasoning is the following:

If we have different resources and different users with different privilege levels.

1. Some resources can be CRUD by anyone:
This works perfectly with the current implementation with dependencies that apply to all CRUD of a resource / router.

2. Some resources can be Read but should not be CUD by simple users.
With the

[2021-03-26 07:26] awtkns commented on #37
Thanks for the insightful feedback. Glad you hacked together an implementation on your end.

It is intentional that the dependencies stick with the overloaded router as this mimics how dependencies are used when added at the router level. As you mentioned above, it is possible to get around this at the app level.

There has been significant interest amongst other users in the implementation of thi

[2021-03-26 11:58] DorskFR commented on #37
Hello,
Thank you for your answer.

I have been coding for just a few months so not sure I can come up with any clean or elegant.
Maybe it can be added directly to the conditionals you use for the routes?

[code]

So they would be either: true by default, same as now, but an with an optional array of Dependencies or false ?

[2021-03-26 18:26] #44 closed

[2021-03-27 06:53] awtkns commented on #37
@DorskFR is this something you would be interested in Coding / PRing in the next couple weeks? If not, I would be happy to implement it.

[2021-03-28 07:18] DorskFR commented on #37
Hello @awtkns ,

I never did a PR but I can give it a try in the coming week if you do not mind.
Worst case you can always refuse what I tried to code :)

[2021-03-29 01:52] DorskFR opened #51 "Route overload ignored"
Hello,

Me again, just reporting this so I do not forget.

I found a workaround but I observe the following behavior and I am not sure if that is a bug or not.

Router declared as:

[code]

Update route overloaded like this:

[code]

And it is ignored, the default Update route from SQLAlchemyCRUDRouter is preferred.

However with a create route it works:

[code]

And if I do this:

[code]

Then th

[2021-03-29 08:00] awtkns commented on #51
Hi @DorskFR. The documentation definitely need to be more detailed on this, but I believe your routes are failing because your path is `/{order_id}` instead of `/{item_id}`.  Overloading it as `/{order_id}` is actually creating a separate here.

The code shown below should work.
[code]

I'll be looking at ways of eliminating this confusion the the future (maybe by treating all text in the `{...}`

[2021-03-29 08:08] DorskFR commented on #51
Hi @awtkns ,

Oh, my bad I did not realize that `item_id` had to be named just like this.

Thank you very much for your answer and sorry for the noise then.

[2021-03-29 08:10] awtkns commented on #51
No worries, it needs to be documented better

[2021-03-29 09:44] collerek opened #53 "[FEAT] Related models in CRUDRouter"
Hi ;)

I realized I'm doing something pretty similar right now for my API endpoints but would like to use your library to save some work.
But for that I need more functionalities that I'm happy to help implement if you accepts them.

So I started a series of issues that describes what I'm missing right now, this is the first one.

Right now there is no way to select/pass also related models in rou

[2021-03-29 09:56] collerek opened #54 "[FEAT] Exclude per (return) route"
Pretty common requirement is returning a list of items with only selected fields populated, while getting an item per id should return all fields (or at least different set of fields then list).

That's why excluding a given set of fields in given route should be possible.
Of course only optional `pydantic` fields can be excluded to not raise the `ValidationError`.

Example:

[code]

Now let's say

[2021-03-29 10:07] collerek opened #55 "[FEAT] Ability to pass order_by column(s)"
Right now you return the models ordered by id (or not really ordered didn't get into details of all backends, and without explicit order by the order in db is not guaranteed).

I would like to be able to pass a list of columns that should be used to, note that it should be treated as a default sorting, other functionality or params passed to query can change it later if you decide to support such

[2021-03-29 12:48] avico78 opened #56 "SQLAlchemyCRUDRouter - With joined tables"
fastapi                  0.63.0
fastapi-crudrouter       0.6.1

Trying to use SQLAlchemyCRUDRouter for joined tables ,
All endpoints created automatically (amazing:)).

Tried using the "create one " for input:
[code]
End up with error:
[code]

Code:

Routes:
[code]

schemas.py
[code]

models.py
[code]

[2021-03-29 16:58] awtkns commented on #56
Hi @avico78. So the CRUDRouter currently does not support inserting nested objects.  This is something I am looking at potentially implementing in the future.

Currently you have the option of overloading routes to provide custom functionality ([docs](https://fastapi-crudrouter.awtkns.com/routing/#overriding-routes)). You could do something as below to get around your issue.

[code]

[2021-03-29 17:07] awtkns commented on #53
Hello again @collerek. Nested models are passed depending on the orm's implementation. For example, the feature you described already works in the sqlalchemy router  ([tests](https://github.com/awtkns/fastapi-crudrouter/blob/122bff2158af50f7762139bd9390a0d87beb03c3/tests/test_sqlalchemy_nested_.py)). See #38

I am not sure `related_models=["tasks"]` is the best way forward. I think it would cleane

[2021-03-29 17:18] awtkns commented on #55
So for this I think the responsibly of default sorting should lay with the backends implementation of the model. That being said, the next big feature I will be working on are query and sort parameters in for the `get_all_route`

eg calling `/flowers?color=red&sort=name&desc` will get only the red flowers and return the sorted by name

In this I will allow you to to set default query parameters wh

[2021-03-29 21:49] avico78 commented on #56
Thanks @awtkns ,
Support of nested object would be awesome and actually sound like a real challenge ,
not sure if this can help solving the nested objects ,
 but it maybe it may interest you :
https://github.com/brokenloop/jsontopydantic
it building a pydantic classes from a Json - even a real nested one.
The core of this project coming from datamodel-code-generator (v 0.5.39 )
[code]

[2021-03-30 01:19] awtkns commented on #56
Thanks I will keep that in mind.  Ok if I close this for now?

[2021-03-30 05:08] collerek commented on #53
Ok, fair enough.

So when you have relation `A-B-C-D` all of them should be loaded by default when we apply your approach of `pydantic` model defining the relations to load?

The only problem is that `ormar` model is `pydantic` model and corresponds to all columns in a table. So if you have user endpoint and admin endpoint that has to have different relation loaded (i.e. user don't need or even sh

[2021-03-30 05:20] collerek commented on #55
That is fine to set as query params, easy to change if needed, one remark is that #37 should allow to not only filter but also sort by multiple columns with different direction, especially if models can return nested models you want to order each model by different column, i.e. parent by `name asc` and related model by `sort_order desc` or whatever.

But that raises the problem how to pass nested

[2021-03-31 20:22] jm-moreau commented on #37
For my use case, to be able to access these dependencies from in subclass of `SQLAlchemyCRUDRouter`.  So maybe a dictionary of dependencies?

Basically, I need to check the current user has access rights for whatever they are requesting.

So I planned to do something like:
[code]

[2021-04-01 01:31] awtkns commented on #37
Yes, I think that would be a good idea to provide an interface to do that.  That being said I am curious why one would choose to overload the route like that.  It might be simpler to over load the route as shown below for your use case.

[code]
That being said, your custom `CheckingSQACRUDRouter` would be more reusable throughout the application.

[2021-04-01 14:16] jm-moreau commented on #37
That's a nice clear way to do it.

Probably there is a cleaner way to do this.... In my application nearly every route needs this kind of "do you have rights for that" checking.  A subclass seemed DRYer.  In my application, I am using inspection to investigate a `models.py` module with all the sqlalchemy ORM objects.  After filtering out the "special case" classes, I just loop through and generate

[2021-04-08 15:04] DorskFR commented on #37
Hello,

Sorry I got a bit caught up with a weird bug with Depends locking up sqlalchemy (discussed here : https://github.com/tiangolo/full-stack-fastapi-postgresql/issues/104).

On that note I had to modify my local copy to use a context manager instead of Depends for the different routes.

Anyway, I made modifications to pass the dependencies in the routes like this :

[code]

and in _base.py and

[2021-04-09 21:51] avico78 commented on #56
sure,i will follow :)
hopefully a solution will be find for this ,
Thanks @awtkns ,great initiative

[2021-04-09 21:51] #56 closed

[2021-04-11 08:26] #51 closed

[2021-04-18 22:27] #37 closed

[2021-04-19 03:13] #45 closed

[2021-04-21 07:11] awtkns opened #62 "[Feedback Wanted] Query / Filter Parameters"

[2021-04-22 10:14] niranjanthilak opened #63 "SQLAlchemyCRUDRouter Create is causing error"
When I use the SQLAlchemyCRUDRouter in my project, the  Pydantic schema is not  being imported into the model on the create item calls.

I've traced this into the crudrouter __init__() call:
[code]

On a normal test:
Pydantic Object:  ` sample_object = AdminUserCreate(name="string",email='string',password='string')`
This works:     `print("Object: ",sample_object.dict()))`
This does not work:  `pr

[2021-04-22 12:50] marcoaaguiar opened #64 "Model preffix is not lowercased in TortoiseCRUDRouter"
When using TortoiseCRUDRouter, the CRUD routers generate a base prefix that has the same casing as the db_model.

For instance, for a router with prefix "/api", and an object CRUD router defined by
[code]

The generated CRUD route that appears in the `/doc` is `/api/User`, which is quite odd for APIs.

This issue seems to come from the interaction of these 2 lines https://github.com/awtkns/fastapi

[2021-04-22 16:12] niranjanthilak commented on #63
Just an update, this was due to the way I've set up my database model.

I was using an explicit constructor within the model definition  and it was expecting a named tuple instead of the dict.

[2021-04-22 16:12] #63 closed

[2021-04-22 20:08] awtkns commented on #63
Thanks for creating an issue. Glad you got it figured out.

[2021-04-22 22:13] awtkns commented on #64
Hi @marcoaaguiar thanks for reporting this.

In #65 I've changed it so that all prefixes are lowercase. Even if you specify` prefix="MyModel"` it would turn into "mymodel". That being said, this could cause problems if someone wanted an uppercase path prefix (for whatever reason).  Alternatively, I can just fix the tortoise issue,

Thoughts?

[2021-04-23 02:37] marcoaaguiar commented on #64
Hi Adam, I believe that would fix the issue.

I started using this package this morning, and it's great to see that it is under development/maintenance!
The only feature that seems to be missing is filtering, but it seems that soon it will be available (#61).

When #65 is merged, feel free to close this issue.

[2021-04-23 05:51] #64 closed

[2021-04-23 05:55] awtkns commented on #64
Awesome! Thanks for the feedback, filtering will be released soon 😃

[2021-04-24 08:22] tunahan opened #66 "Sqlalchemy adaptor error handling issue on "_create""
Hi, actually there is a need for a small development on **_create** as well(sqlalchemy.py). When inserting a row via post, I ended up with a different error message. I tried to insert a row into a table that have foreign key constraint on another table. The other table have no primary key value associated with row I tried to insert. **So, I violated foreign key constraint.**

`except IntegrityErro

[2021-04-24 09:05] awtkns commented on #66
Hi @tunahan, this is actually working as intended. The idea behind not to show detailed error reports for database errors as I believe giving out details of your database setup to users is generally a bad idea.

However you do raise a fair point. it might be better to change it to simply `"Integrity Error"` as the message.

[2021-04-24 09:18] tunahan commented on #66
Hi @awtkns, Actually, you are right. The less detailed error stack the better and I agree with that. However, I believe, this level of information should be given. At least you might say "**Ohh my friend, at least check the other table**". That's it, there is no need for more detail, I believe.

Thanx, I appreciate your work!

[2021-04-24 09:25] awtkns commented on #66
Awesome. Glad we agree. Generally it's a bad idea to give details about internal tables to users as it opens up potential vectors of attack.

I do think that a 500 something error code might make more sense though.

[2021-04-27 00:44] marcoaaguiar commented on #62
I skimmed through #61 I haven't seen anything related to ordering/sorting. Is it expected to 0.8?

[2021-04-28 01:37] awtkns commented on #62
Hi @marcoaaguiar. Currently it only does filtering but I am looking at adding more feature before the merge (eg: order by and perhaps "like filtering" as currently it only does exact matches).

The tricky thing is that not exactly sure what the preferred query parameter syntax would be amongst the community.

eg: `/potato?color=red&order_by=mass&order=DESC`

Any thoughts?

[2021-04-28 11:40] marcoaaguiar commented on #62
Hi Adam, I recently had to hack this package to allow for sorting. I chose [Github query params](https://docs.github.com/en/rest/reference/repos#list-organization-repositories) as a reference, which are `sort` and `direction`.
Regarding `sort` vs. `order_by`, I find both good choices, `sort` conforms in Python lingo, `order_by` with SQL's.
Regarding `direction` (`asc` and `desc`), I really like it

[2021-04-28 22:26] awtkns commented on #62
I took a look into how GitHub (and others do it) and I think it would make sense to go with `sort` and `direction`.

As for "like" filtering, I might make sense to include that in a later version to get some feedback.

[2021-04-29 07:15] #66 closed

[2021-04-30 02:19] marcoaaguiar opened #67 "Not populating nested models [Tortoise]"
I found an issue when Tortoise's PydanticModel is used, where the related models are not being populated.
Due to Tortoise's async nature and Pydantic lack of asyncio support, some methods need to be called to populate models with nested submodels properly ([related link](https://tortoise-orm.readthedocs.io/en/latest/contrib/pydantic.html)).

I hacked a fix for this in [my fork](https://github.com/

[2021-04-30 06:22] awtkns commented on #67
If you could clean it up and PR it would be great! I would be happy to give you some pointers and help you out.

One thing of note, line 14 on your fork needs to be eventually moved in to the try catch shown below. Otherwise, CRUDrouter will crash for those that do not have tortoise installed.

[code]

[2021-04-30 08:57] Chise1 commented on #62
My project has this function,may be can give you some idea?

[code]

[2021-05-17 16:28] fullonic commented on #67
Hey @marcoaaguiar, have you done any process in this issue? Thanks

[2021-05-21 09:44] fullonic commented on #67
@marcoaaguiar, that would be great. I have some issues related to this issue as well but right now I don't have a complete solution to it. If you create a PR with our current work, then we can try to find together the most suitable solution. Cheers

[2021-05-21 20:13] marcoaaguiar commented on #67
@fullonic #68, I opened a WIP PR with the tests and the code changes. Feel free to ask questions

[2021-06-01 06:58] Turall opened #70 "Add support python-gino"
Thank you for the project. I would like to add python-gino support. We use https://github.com/Turall/FastApi-boilerplate our template for creating an API. For our project, we want to use your module. But you don't support gino for this module.

[2021-06-01 07:26] awtkns commented on #70
Hey @Turall, for sure! Gino support has always been at the back of my mind.

Supporting it should be fairly easy and would make a good feature release. Is this something you wanted to tackle? I could point you in the right direction in terms of implementation (should be fairly similar to any of the other current implementations).

[2021-06-01 07:58] Turall commented on #70
Of course. I already implemented it and want to send PR.

[2021-06-01 08:29] awtkns commented on #70
Awesome, looking forward to it!

[2021-06-09 12:56] roger254 opened #73 "Patch Endpoint"
Amazing Framework, really love it,
please update or place the patch endpoint to update certain data that have been passed while leaving the unspecified data intact in the database..

[2021-06-10 02:17] dawnpatrol04 opened #74 "Example for more than one table."
Is there an example for doing more then one table.

Potato - table 1
Meat - table 2

[2021-06-10 16:02] dawnpatrol04 commented on #74
looks like this works :

app.include_router(router)
app.include_router(router2)

[2021-06-10 16:02] dawnpatrol04 commented on #74
from sqlalchemy import Column, String, Float, Integer
from sqlalchemy import create_engine
from sqlalchemy.ext.declarative import declarative_base
from sqlalchemy.orm import sessionmaker

from pydantic import BaseModel
from fastapi import FastAPI
from fastapi_crudrouter import SQLAlchemyCRUDRouter

app = FastAPI()
engine = create_engine(
    "postgresql:// "
)

SessionLocal = sessionmaker(
    aut

[2021-06-10 16:53] awtkns commented on #74
Glad you figured it out! realized this was not mentioned anywhere in the good. I will add some more clarity regarding it.

[2021-06-13 01:00] dawnpatrol04 commented on #74
Sounds good.  Great project.  I normally do all of this manually.  This is a great for speed to market.  Gets a star from me.  :)

[2021-06-13 01:00] #74 closed

[2021-06-19 22:01] tsatsu-jnr opened #76 "Ability to add a custom summary for a route"

[2021-07-06 01:07] #70 closed

[2021-07-06 01:09] awtkns opened #78 "Update Gino Docs + Readme"

[2021-07-14 04:40] #19 closed

[2021-07-14 08:14] gamesbook commented on #19
Hi - any reason you added a "wontfix" label? Is it possible to use a "planned_feature" label instead?

[2021-07-22 14:03] n0nvme commented on #32
+1 for motor and pydantic instead of odmantic

[2021-07-22 16:03] olgeni commented on #73
PATCH is more or less the same as UPDATE, but with `exclude_unset` ☺️

`for key, value in model.dict(exclude={self._pk}, exclude_unset=True).items()`

[2021-07-24 16:43] KarlCMB opened #82 "return dependency value"
Hi,
is it possible to "inject" somehow the value from a dependency to the  create or update model?
I would like to add the updating user in my create schema.
Any ideas?
Thank you for the great work

[2021-07-25 22:40] awtkns commented on #82
Hi @KarlCMB. Thanks for the feedback!

It is possible to do it with a dependency, However, currently I think the easiest way is to provide a custom implementation of the router (see #80). I am actively looking at ways of making the library more injectable; hopefully coming in a future release.

[2021-08-09 04:53] Faridalim commented on #62
Hi, i think this feature need more push. Your idea is very good and pretty simple. Maybe we can add something like

`/potato?color=eq.red&color=eq.blue&price=gte.50`

@awtkns what do you think?

[2021-08-10 06:19] shizidushu opened #84 "sqlalchemy.exc.CompileError: MSSQL requires an order_by when using an OFFSET or a non-simple LIMIT clause"
The Get All path return error on SQL Server

[code]

[code]

[code]

[code]

[2021-08-15 20:19] awtkns commented on #84
Hi @shizidushu, thanks for reporting this. I've added the ability for the test suite to be tested automatically against a variety of different databases in #86. The fix for this should be coming soon now that it can be tested.

[2021-08-18 22:30] luisroel91 opened #87 "Is this compatible with async SQLAlchemy ORM?"
Hello,

Would this package work with the (somewhat) new version of the SQLAlchemy ORM which is async?

They use different engine classes (AsyncEngine + AsyncSession VS Engine + Session)

Thanks for proj.

- L

[2021-08-19 02:55] awtkns commented on #87
Hi @luisroel91, I am not 100% sure, but I think it should work. However, the routes themselves for the `SQLAlchemyRouter` are not async functions which could be problematic. However, this can be fixed.

[2021-08-19 18:34] joshrosenblum commented on #84
Encountered the same bug in a new project - had no issues previously. Thanks in advance @awtkns for the fix and for this helpful extension!

[2021-08-21 05:13] #84 closed

[2021-08-21 05:14] awtkns commented on #84
The fix this has been release with version 0.8.1. Please let me know if there are any further issues 😃

[2021-08-21 17:26] jpuerta commented on #62
Not sure if this has already been discussed, but why not adopting the [Django `filter()` syntax](https://docs.djangoproject.com/en/3.2/ref/models/querysets/#field-lookups)? It provides a comprehensive pseudo-language for covering the whole SQL WHERE clause syntax (including querying nested model attributes) and, given that some of the underlying ORMs already rely on it (e.g.: [ormar](https://colle

[2021-08-25 14:11] slamer59 opened #89 "How to upload a file using fastapi-crudrouter ?"
Hello,
First of all, I am not an expert of FastAPI... so it might not be related at all to fastapi-crudrouter.

I have Pydantic class which holds file metadata:
[code]

I read the documentation to do something like this but I don't know what to put in CreateFile class ?

[code]

In pure FastAPI, upload is done here:
[code]

Any ideas if it is possible and how ?

Maybe with this routing functionali

[2021-08-25 14:34] slamer59 commented on #89
The last proposal with router seems to not override the POST method. Any idea ? I don't see an exemple.

[2021-08-25 14:37] slamer59 commented on #89
It's working !
With:

[code]

but why is it working with the path `@router.post('/')` and not `@router.post('/file')` ?

[2021-08-25 16:11] slamer59 opened #90 "Exemple in documentation doesnot work as is"
https://fastapi-crudrouter.awtkns.com/routing

"Working"

[code]

Is it possible to provide an exemple to show what to do with MemoryCRUDRouter instead of a string ?
Regards

[2021-08-28 15:27] diegocgaona commented on #67
This error is related to:
`tortoise.exceptions.NoValuesFetched: No values were fetched for this relation, first use .fetch_related()` ??

I'm having this error using related models. This library saved much time, but without it, I will need to make all by hand.

@fullonic , any news about it?

Thanks!!

[2021-08-30 01:52] awtkns commented on #90
Sorry for taking awhile to reply. I think that would be add good thing to also add, it could definitely be useful :)

[2021-09-03 13:47] GonerGenesis commented on #67
Would be great to pull @marcoaaguiar idea

[2021-09-06 19:04] slamer59 commented on #90
Yes me too.
Do you have time to provide me some snippet for it ?
Not much time on my side but I can try.

[2021-09-07 11:08] LindezaGrey commented on #76
You could iterate over the routes in the CRUDrouter and map the routes to a dict with descriptions/summaries:

[code]

[2021-09-08 00:07] karolzlot commented on #62
I will suggest adopting syntax from react-admin:

https://github.com/marmelab/react-admin/tree/master/packages/ra-data-simple-rest#rest-dialect

(but feel free to ignore it, as it is possible to supply react-admin with definition of custom syntax)

[2021-09-08 00:17] karolzlot commented on #62
I suggest adopting syntax from react-admin:

https://github.com/marmelab/react-admin/tree/master/packages/ra-data-simple-rest#rest-dialect

(but feel free to ignore it, as it is possible to supply react-admin with a definition of custom syntax)

----

Here is a long list of other syntaxes currently supported by react-admin. Please take a look, I think it may help to choose the best approach:

http

[2021-09-08 22:33] arkryonia opened #92 "ModuleNotFoundError: No module named 'fastapi_crudrouter'"
Hello.

I'm trying `fastapi-crudrouter`. Unfortunetly, I'm experiencing an unrecognized issue:

`ModuleNotFoundError: No module named 'fastapi_crudrouter'`

I have virtualenv with fastapi-crudrouter installed

[code]

### requiremnts.txt
[code]

[2021-09-08 23:52] rgreen32 commented on #92
@arkryonia Are you running it with your virtualenv activated? Does fastapi-crudrouter show up when you type `pip freeze` ?

[2021-09-09 07:07] arkryonia commented on #92
Yes my virtualenv is activated.

[2021-09-12 18:04] awtkns commented on #92
@archydeberker what version of python / os are you running?

[2021-09-12 18:07] archydeberker commented on #92
Bad tag I think @awtkns

[2021-09-12 18:12] awtkns commented on #92
Sorry about that! Very similar names.

[2021-09-13 10:41] michaeltoohig opened #95 "DELETE endpoint returns 404"
I'm mixing this project and FastAPI-Users together so I have a very basic DatabasesCRUDRouter that has delete_all_route disabled and the delete_one_route has FastAPI-Users dependency for superuser on it. Otherwise, nothing else interacts with the delete endpoints yet when I delete an item I'm returned with 404 error and the detail says the item is not found.

The item is deleted though.

[code]

[2021-09-13 17:00] arkryonia commented on #92
[code]

[2021-09-14 03:36] awtkns commented on #95
@michaeltoohig thanks for reporting this, would you be to provide me with a minable runnable example?

[2021-09-14 05:27] awtkns commented on #95
I added a test in #96 which disables the delete_all route while keeping the delete_one route enabled. It passes, I am thinking I could be due to something in your dependancy.

[2021-09-14 06:01] awtkns commented on #92
[code]
The docker file above works to install and run the code / environment you gave on debian:bullseye.

[2021-09-14 06:01] #92 closed

[2021-09-14 06:52] awtkns commented on #89
Hi @slamer59, sorry for the delayed response. did you manage to get it working?

[2021-09-14 08:10] michaeltoohig commented on #95
Sorry, I didn't make a reproducible example earlier. Either way, I looked further into to confirm the issue is not the dependency. I tested by both removing the dependency all together and by overriding the endpoint.

[code]

In the `_delete_one` endpoint the above marked line is the point that raises the 404 HTTPException. I paused at the line before and in my database the row has already been re

[2021-09-14 17:38] slamer59 commented on #89
Dont be :)
No avance on my side.

[2021-09-14 22:07] arkryonia commented on #92
Ok. I got you. Let me try.

[2021-09-15 00:53] awtkns commented on #95
@michaeltoohig thanks for the detailed response, this certainly sounds like a bug, Assuming the `id` is in the database, it should be returned on the line `row = await self._get_one()(item_id)`. We do not even execute the delete till after, so this is certainly strange.

[code]

By chance do you have a single file that I could run to reproduce the issue? From there I may able to implement a fix.

[2021-09-15 00:55] #35 closed

[2021-09-15 01:03] awtkns commented on #73
@olgeni or @roger254  is this something you would like to PR, if not I would be happy to implement it.

[2021-09-15 01:05] #82 closed

[2021-09-15 03:31] michaeltoohig commented on #95
Here is a single file example. It does not cause the issue when tested with sqlite, just postgres. I included the fastapi-users setup as well since that's what I'm working with but I believe it can be ignored from my quick test commenting out code related to it but just in case I left it here.

[code]

[2021-09-15 03:38] roger254 commented on #73
I used a little work around

1.  override the  put route
  `@services_router.put('/{item_id}', response_model=Service)
def overload_put(item_id: int, service: ServiceUpdate, db: Session = Depends(get_db)):
    res = update_services(db, item_id, service)
    return res
`

2. Update available fields only
`def update_services(db: Session, service_id: int, service_data: schemas.ServiceUpdate):
    ser

[2021-09-15 05:08] awtkns commented on #95
Also mentioned here: https://github.com/kvesteri/sqlalchemy-continuum/issues/259

[2021-09-15 05:51] awtkns commented on #95
@michaeltoohig thanks for the code. I was able to get the tests failing. Hoping to implement the fetch and delete in separate transactions. This should resolve you issue.

[2021-09-15 17:33] rgreen32 opened #99 "Nullable fields on Tortoise model are required in create route"
Hello!, I have simple model with a nullable field:

[code]

If I send some data to the post route, I expect that the "time_stamp" field will not need to be present in the payload because it is declared as nullable.
[code]
but instead this fails with a 422 saying the "time_stamp" field is required.

I understand that adding the field with a null value work but **I feel like declaring the field as n

[2021-09-15 20:20] awtkns commented on #99
If you want to PR this you totally can. If not, I would be happy to pick up the implementation sometime in the future. This is somewhat related to #73

[2021-09-16 06:50] awtkns commented on #95
@michaeltoohig after much digging, the issue has seemed to stem from this: https://github.com/tiangolo/fastapi/issues/1369 (answered here: https://github.com/tiangolo/fastapi/issues/1369#issuecomment-640254197). I am also not an expert on `encode/databases` but you maybe be also to fix it using this.

I am also implementing a fix for it natively in crudrouter. You can test out a sample of it with:

[2021-09-16 08:15] michaeltoohig commented on #95
That does work, now I get the 200 response as expected.

Much appreciated!

[2021-09-16 15:49] awtkns commented on #95
Reopened until fix is merged.

[2021-09-18 18:13] awtkns opened #103 "404 Status Code not Docummented"
### Discussed in https://github.com/awtkns/fastapi-crudrouter/discussions/102

<div type='discussions-op-text'>

<sup>Originally posted by **sondrelg** September 16, 2021</sup>
Hi!

I was just testing out [schemathesis](https://github.com/schemathesis/schemathesis) on a new project implementing crudrouter, and found it complaining about the fact that one of my generated endpoints had undocumented

[2021-09-19 19:06] #103 closed

[2021-09-20 14:01] fullonic commented on #67
Hi @diegocgaona. I still didn't have time to update our changes to make it available. We patched a lot of stuff to fit our needs that is making it hard to make a PR. To fix your issue you can use the PR #68 branch.

[2021-09-20 15:53] awtkns opened #105 "Failing schemathesis validation"
After #104, using the schemathesis tests are still failing when validating the generated openapi spec. The goal of this issue would be to resolve these failing tests (as detailed in #102).

---

[code]

_Originally posted by @sondrelg in https://github.com/awtkns/fastapi-crudrouter/issues/104#issuecomment-922811907_

[2021-09-30 00:18] awtkns opened #109 "Native SQLModel Support"
### Discussed in https://github.com/awtkns/fastapi-crudrouter/discussions/108

<div type='discussions-op-text'>

<sup>Originally posted by **voice1** September 29, 2021</sup>
Is there any intent to support SQLModel? [https://github.com/tiangolo/sqlmodel](https://github.com/tiangolo/sqlmodel)</div>

[2021-10-02 04:05] #95 closed

[2021-10-05 04:35] jidn opened #110 "What is the best way to create a read-only/allow_mutation=False field?"
Similar to the `id` field, I have a `created_on` field the database will auto create for me.  Now, what is the best way to not allow the field in POST, PUT but have it in GETs?
1.  Require the use of Create and Update Schema.  Nothing would need to change, but all that schema creation smells of boilerplate.
2.  Modify the _utils.py schema_factory to allow for additional fields to exclude. However,

[2021-10-05 05:00] jidn commented on #62
Lots of good ideas; each with a different use case.  What about callback/hook/plugin for filtering?  This would allow for easily customizable filters with that operator you "just can't live without" that doesn't require forking in order to make it work.

The same could be said of sorting, but I am a fan of `sort=group,-created_on` with the minus prefix for descending order.

[2021-10-05 05:26] awtkns commented on #110
Hi @jidn thanks for bringing this up.

I totally agree with what you suggested. I think removing fields with `allow_mutation=false` in the schema factory would be a great way of reducing potential boiler plate. 🚀

Is this something you would be interested in PRing?

[2021-10-05 13:21] jidn commented on #110
Sure

[2021-10-08 21:37] marcoaaguiar commented on #67
We are no longer using Tortoise in our products, so I will continue with #68. Feel free to continue or close that PR.

[2021-10-19 21:12] limsammy opened #115 "Assign tags to specific CRUD routes"
Hello,
First off, absolutely love this library. Fantastic work.

I was wondering if there is any sort of known solution for implementing tags on a per-route basis?

I am currently using @kael-shipman's awesome Swagger-UI plugin, [Hierarchical Tags](https://github.com/kael-shipman/swagger-ui-plugins/tree/hierarchical-tags/packages/hierarchical-tags). This allows my to Swagger docs to look like this

[2021-10-23 00:14] awtkns commented on #62
@theultimate1 not yet. However a preview can be found in #61. It is still a WIP so no guarantees on correctness.

[2021-11-12 09:51] theultimate1 commented on #73
I think this is a good issue to implement as the patch endpoint. Had to go down a pydantic rabbithole before I came to the same answer as the one give above by @olgeni.

[2021-11-16 21:34] Shark009 opened #118 "Trailing / for generated endpoints"
Hi,

Is it possible to have an trailing / for the GET and POST endpoints? We have used that for all our endpoints and would like to do the same for the CRUDRouter endpoints

Thanks for helping me out!

[2021-11-19 14:22] luckydonald opened #119 "Custom ORM"
So. I have a ORM which I'd like to use, and to intigrate.
It's a homegrown ORM for the fun of it, but I like my work, so I wanna use it here.

I however couldn't find any section on how to implement an adapter for your own.

[2021-11-20 20:57] derzinn opened #120 "[FEATURE REQUEST] Allow to pass a read_schema as response_model"
I would like to use this router with [Ormar](https://github.com/collerek/ormar/), because with Ormar I can very easily generate different Pydantic schemes of a model.

Unfortunately, currently only the Ormar model can be returned: https://github.com/awtkns/fastapi-crudrouter/blob/d89837d3b93c54a549b028cd7b839d548430ef2e/fastapi_crudrouter/core/_base.py#L60

The ability to pass an optional read_sch

[2021-12-03 16:57] jrlopes2005 opened #122 "Support for Async SQLAlchemy"
Hi everyone,

Is there any perspective of support for async SQLAlchemy?

Im using AssyncSession.

Thanks

[2021-12-04 19:48] tclasen commented on #32
Hello! I'm resurrecting this thread to recommend https://roman-right.github.io/beanie/ as the ODM for this ticket.

[2021-12-04 19:49] tclasen commented on #32
Also, there is now support for mocking out motor during unit tests that don't really need a full running mongodb: https://github.com/michaelkryukov/mongomock_motor

[2021-12-06 07:01] nuno-andre commented on #109
Hi! FWIW, SQLModel [replicates both SQLAlchemy and Pydantic](https://github.com/tiangolo/sqlmodel/blob/a36c6d5778e23bb310c18992b2f301ffb34e8c8e/sqlmodel/main.py#L212). It seems that supporting it may be very straightforward. This just works:

[code]

Regards!

[2021-12-06 07:25] awtkns commented on #122
Hi yes! There is support coming in the next couple days (#121)

[2021-12-23 21:10] gitpushdashf opened #126 "Feature Request: Type Annotations"
It'd be great if this library had type annotations and a `py.typed` file so it could be checked with `mypy`.

I'm just leaving this here to track it in case anyone has the interest or time.

[2021-12-24 08:26] satodaiki opened #127 "I want to use the response_class property."

[2021-12-24 09:50] awtkns commented on #127
Hi @satodaiki. Although I have not tested this, I believe this is already supported by setting the default response class for FastAPI ([Docs](https://fastapi.tiangolo.com/advanced/custom-response/#default-response-class)). This can also be passed to any CRUDRouter as a kwarg.

[code]

Would you be interested in adding an explicit parameter for this in a PR?

[2021-12-25 20:59] awtkns opened #128 "Disable Psycopg for non-windows Environments"

[2021-12-26 00:19] #128 closed

[2021-12-27 02:32] satodaiki commented on #127
thank you to @awtkns !

I didn't know there was such a parameter.
There are cases where ORJon is used as a whole, but I can't think of a use case where only some routers use ORJson, so I'm not going to put out PR.

[2022-01-02 17:13] Zaffer opened #130 "Use CRUD functions internally"
Is it possible to the call the CRUD functions inside the application from other parts of the code? How do I do that?

ie:

`user = users.get(f"/user/{user_id}")`

or something like that?

[2022-01-04 14:19] unidesigner opened #131 "Validation error with Json pydantic field"
I use a JSONB column in Postgres, but I do get an error on the GET all route with my specified pydantic model with `json_field: Optional[pydantic.Json] = None` with proper json data in my database table. The exception is:
[code]
Any idea how to fix that? Thanks.

[2022-01-04 14:26] unidesigner commented on #131
This may be a related issue in [pydantic-sqlalchemy](https://github.com/tiangolo/pydantic-sqlalchemy/issues/19)

[2022-01-05 18:32] awtkns commented on #130
Hi @Zaffer, good question! At the moment this in not currently possible.

However this should hopefully possible in the future (would require a small refactor)

[2022-01-05 18:37] awtkns commented on #131
Hi @unidesigner, my first thought is that this may be a pydantic-sqlalchemy issue as you mentioned. Would you be able to provide a more complete code example of how it is being used?

[2022-01-06 16:03] gitpushdashf commented on #126
Thank you!!

[2022-01-06 18:40] jeanlst opened #133 "SQLALchemy support for Composite Primary Key"
I was looking at the implementation for SQLAlchemy and noticed that it takes only the first primary key of the table

https://github.com/awtkns/fastapi-crudrouter/blob/master/fastapi_crudrouter/core/sqlalchemy.py#L50

What if I have a composite primary key in my table?

[2022-01-06 18:44] jeanlst opened #134 "Question: Model with different look than the Input SCHEMA"
I have an API that for some reasons has a certain structure which is different from what the route receives from external actors (they send with their schema which is a json from mongodb), how do I handle the conversion from this different schema to my model?

[2022-01-07 00:31] awtkns commented on #126
No worries! The annotations will be available in the next release :)

[2022-01-07 09:47] unidesigner commented on #131
Hi @awtkns, thanks for getting back to me. Yes, you are right, it is likely a pydantic-sqlalchemy issue and I should go and check there. I will report back once I solve the issue.

[2022-01-07 09:48] unidesigner commented on #122
I'd like to use async SQLAlchemy as well. Is there anything to help to merge this PR and release a new version? Thanks.

[2022-01-07 12:40] unidesigner commented on #131
I don't know if it was an issue with my code, but I could get the Json field to work with [SQLModel](https://github.com/tiangolo/sqlmodel/). I don't see that (async) SQLModel is yet supported but it would not be too difficult to add I guess, and I saw there is already a related issue #109 .

[2022-01-07 12:40] #131 closed

[2022-01-10 11:31] amitrahav opened #135 "HTTP responses"
By Mozilla docs, [delete](https://developer.mozilla.org/en-US/docs/Web/HTTP/Methods/DELETE). and [put](https://developer.mozilla.org/en-US/docs/Web/HTTP/Methods/PUT) responses should be 204 on success.

Is there a reason you choose to return 200?

[2022-01-12 03:20] awtkns commented on #135
Hi @amitrahav, thanks for the question! Both routes are actually returning content, the `delete` route is returning the model that was deleted while the update route (`put`) is returning the updated model. As such, I feel that having a 200 response is reasonable as content is being returned.

Do you still feel there is a change necessary?

[2022-01-12 03:34] awtkns commented on #133
Hi @jeanlst. Thanks for bringing this up.

You are right! This is something that is currently not possible with the SQLA implementation. Is this something that you would be interested in PRing? 🚀

[2022-01-17 13:31] unidesigner commented on #122
@awtkns Would it be possible to merge this PR? I'd like to test if the async support for SQLAlchemy would already also work with SQLModel mentioned in #109. Thanks.

[2022-01-18 06:18] awtkns commented on #122
Hi @unidesigner. I am still working on adding tests for Async SQLAlchemy.

In the meantime, if you would like to test it out, you can install the feature branch with:
[code]

[2022-01-18 11:09] unidesigner commented on #122
Hi @awtkns - I tested the feature branch in the meantime.

In my particular setup (perhaps useful to others), I am running into the following exception: `sqlalchemy.exc.InvalidRequestError: Can't operate on closed transaction inside context manager.  Please complete the context manager before emitting further commands.`

I think the problem is related to the function I set for the `db` field in `S

[2022-01-18 11:27] unidesigner commented on #122
I should add that creating a new object via the generated API already works, so the session already commits data to the proper schema/table.

[2022-01-23 14:42] sobeasy opened #136 "Question: How to add function to route"
Following the Overriding Example, we can easily override the default router:
[code]

However, I would like to use the default put router (to update) but also add function to that router (e.g. notify user / write a log etc.) , may i know if any hints to do so ?

[code]

[2022-01-24 13:06] unidesigner commented on #122
FYI. I think I fixed by my issue by replacing
[code]
with
[code]
[here](https://github.com/il-s/fastapi-crudrouter/blob/master/fastapi_crudrouter/core/sqlalchemy.py#L180)

[2022-01-26 00:58] satodaiki commented on #73
I'm very interested in this issue.
I'll send you a PR as soon as I find some free time.

[2022-01-26 07:02] awtkns commented on #73
Looking forward to it @satodaiki! 🚀

[2022-01-26 19:39] zahid-arbisoft opened #138 "Return extra data for each API with pagination"
When using pagination can we return extra data like total_pages, previous_page_no?

For example for 100 records and for pagination value to 25

for requesting 25th to 50th record, response can be data along with:

total_pages = 4
current_page = 2

[2022-01-27 01:05] satodaiki opened #139 "Support for "logical delete""
hello.

For tables that have columns for logical deletion, as shown below, there is a use case where logical deletion is required.

[code]

I think we need to address this.
Specifically, it would take the form of adding the following attribute:

[code]

[2022-01-31 08:42] satodaiki commented on #136
I don't think there is any official support for this.

I have worked around this in the following way.
However, this is definitely not the best solution to this problem.
(In the example, I used an override of get_all.)

[code]

[2022-02-08 20:55] fsecada01 commented on #62
Is there any movement on this feature enhancement?

[2022-02-15 14:19] AlexDag opened #146 "Define new class,table in separate file(module)"
How is possibly to create a new class,model,table in another file outside of main.py and then create routers for them ?
Any example please ...

[2022-02-18 02:11] #146 closed

[2022-02-18 22:06] Carsondraper commented on #73
Did anyone end up following through with this issue? I myself would love to have this feature

[2022-02-19 05:58] awtkns commented on #73
Not that I know of, this may be something I can pick up if there is no interest.

[2022-02-25 13:10] jsenecal commented on #110
Hey @awtkns , Do you know when this is going to be part of a released version ?

[2022-02-26 22:25] dsethlewis commented on #122
@awtkns At the risk of pestering you, can I ask when the new version with `async` support will be released? This package is exactly what I need for my API, but I need `async` support, and I want to work with a stable build. If it's going to be a while (e.g., months), I'll make do without and manually write my endpoints.

[2022-03-04 17:48] theultimate1 commented on #73
hey i sorta have this update on my end. Probably put in a pull request this week or so.

[2022-03-05 10:28] ghilesmeddour opened #149 "JSON:API compliant API"
Hi @awtkns 👋

Thank you for this great library, really convenient and handy ❤️

For a couple of days I've been looking for a simple and clean way to build a [JSON:API](https://jsonapi.org/) compliant API with FastAPI, but I did not find anything suitable.

This has already been discussed [here](https://github.com/tiangolo/fastapi/issues/203) and [here](https://github.com/tiangolo/fastapi/issues/24

[2022-03-21 06:10] theultimate1 commented on #73
Update : Had some work. Finished the patch endpoint for both sql alchemy and Ormar. Will try to get to it this week

[2022-03-31 13:17] michele-tasca commented on #32
Hello everyone! Any news on this ?

Is this (using crudrouter with mongodb) currently possible in any way (even hacky), or is it just not supported?

[2022-03-31 14:31] tclasen commented on #32
I was able to get it working with Beanie in a fork, I just didn't finish out the typing to get it to pass mypy. It is very possible.

[2022-03-31 20:44] ivan18m opened #150 "Custom status codes"
CRUDRouter should have parameters to set status_code, e.g. 201 for create, or 204 for update - if 204 is set don't return the response JSON

[2022-04-03 08:21] minkoonim opened #153 "issue with related field from tortoise orm pydantic schema"
I'm using fastapi + tortoise,
problem here is i was keep getting "NoValuesFetched" exception from tortoise
when a model has relation with other models.

so I jumped into TortoiseCRUDRouter class and had a look and added a line of code.
it should be because from_queryset() and from_tortoise_orm() has fetch_related().

it works fine if given schema is tortoise pydantic basemodel.

[code]
and

[code]

[2022-04-03 13:29] harshalchaudhari35 commented on #149
has anyone already seen/mentioned this https://github.com/Zenor27/fastapi-rest-jsonapi ?

I believe above repo is using "marshmallow_jsonapi" under the hood to define the relationships in response schemas. Although, I'm not too sure how does this affect the serialization/de-serialization in terms of speed and performance. Might be an option to explore and possibly merge/cherry-pick the crudrouter

[2022-04-04 09:48] ghilesmeddour opened #154 "Non-informative error on creation"
Hi,

`HTTPException(422, "Key already exists")` if raised for every `IntegrityError` on creation. This can be confusing. I was wondering whether it would be better to use `CRUDGenerator` `_raise` method to have a more specific error message.

Ghiles

[2022-04-05 10:27] AthreyVinay commented on #133
@jeanlst Do you have a workaround for this? Thanks

[2022-04-07 21:00] michele-tasca commented on #32
I could definitely use that fork!😁

If typing requires some work, I'd be happy to work on it if you want, so we can open a pull request.

Idk if this repo is still mantained, but the docs say the list of supported DBs is supposed to grow so..

[2022-04-12 09:49] auvipy commented on #149
that would br super cool! will check it out

[2022-04-22 16:31] AthreyVinay opened #155 "Structural error for 404 HTTPException"
Hi All - a bit confused where to create this -- whether here or FastAPI. Please let me know where -- but I'll post here first :)

So I use the CRUD router to auto-generate the /items/{item_id} route which calls FastAPI's HTTPException 404 in case item_id is not found. When I try to copy out the generated openapi.json in swagger-editor, I get the following:
[code]

I am unable to fix this - any hel

[2022-04-23 23:21] ChuckMoe commented on #109
You don't even need to use the pydantic BaseModel, you could also just use the SQLModel as it also doubles as pydantic model. This enables us to reuse our classes like so:

[code]

[2022-05-19 09:57] dclimber commented on #32
@tclasen where can one find the fork? Could you please send the link?

[2022-05-19 14:36] xkortex commented on #154
I just got bit by this. I was wracking my brain trying to figure out how I could be getting `Key already exists` errors with a completely empty database. So I debugged the `_create` function and found out the error it was eating was actually
`sqlalchemy.exc.IntegrityError: (psycopg2.errors.NotNullViolation) null value in column "created_on" violates not-null constraint` (I had forgot to set `serve

[2022-05-25 08:36] dclimber commented on #32
It is indeed possible to make it work with Beanie — working on it.

[2022-05-25 14:48] tclasen commented on #32
Hey, @dclimber , sorry I missed your original tag. I'd happily assist you with building this out. Maybe even @killswitch-GUI would want to take a look at this as well.

[2022-05-26 05:28] dclimber commented on #32
@tclasen cool! I've made it work — the `BeanieCRUDRouter`, based it on `OrmarCRUDRouter`, as they have `pydatic`'s `BaseModel` in common. Manual tests during 'experiments' succeeded.
Now I need to write the actual tests, and I guess it's ready :)

[2022-05-27 03:51] dclimber opened #156 "Use poetry for dependency management"
Whilst installing dependencies I have stumbled upon the following conflicts:

1. Python 3.6
   - current Python requirement (>=3.6,<4.0) is not compatible with `tortoise-orm`'s requirement of Python >=3.7,<4.0.
2.  `ormar` and `gino-starlette` have conflicting `importlib_metadata` version requirements.
3. `databases` and `gino-starlette` have conflicting requirements for `SQLAlchemy`.
4. `pytest`

[2022-05-27 08:08] dclimber commented on #156
Another dependency conflict:
- `gino-starlette` (0.1.4) depends on `gino` (>=1.0.1,<2.0.0)
- `gino` (1.0.1) depends on `importlib_metadata` (>=1.3.0,<2.0.0
- `ormar` (0.10.24) depends on importlib-`metadata` (>=3.1)

Downgrading `ormar` to `0.9.4` solves the above conflict, but causes [this issue](https://github.com/collerek/ormar/issues/502), which was resolved in `ormar (0.10.24)`

[2022-05-27 09:05] dclimber commented on #156
Downgraded several dependencies, now `pytest`'s tests pass locally on my python 3.8 machine.
Support for python 3.6 had to be removed, due to [tortoise-orm 0.17.8](https://github.com/tortoise/tortoise-orm/) not supporting it.

[2022-05-30 16:31] Zaffer commented on #62
OData is the way to go: https://www.odata.org/documentation/
It is used by MS Graph is robust for REST and OpenAPI, also ISO approved.

[2022-06-07 18:45] dclimber commented on #62
@awtkns is there a way to use dependencies for filtering?

For example pass a dependency into `get_all_route` and somehow use it's result?

[2022-06-09 10:35] everthought commented on #133
I took a closer look at fastapi_crudrouter.

[code]

In the __init__ of the SQLAlchemyCRUDRouter class the SQLalchemy model is actually used to read the primary key. Unfortunately, only the first entry from the list is passed as an attribute in _pk. So it would be possible to extract the necessary primary key here. These would then have to be dynamically transferred to the routes. I can't find any

[2022-06-15 10:19] micoloth commented on #32
Hi guys! Are there news on this?

@dclimber  A very rough draft would still be very useful for me at this moment!

I can contribute and finish working on it if needed

[2022-06-15 16:34] micoloth opened #159 "Insert object with Many-to-many relatioship via sqlalchemy"
Hi! I'm trying to understand if fastapi_crudrouter supports inserting object with nested fields that represent many-to-many relatioships, via the Sqlalchemy ORM.

This is the code I have:

[code]

Bu if one goes to `http://127.0.0.1:8000/docs` and then to `POST/  Books`,  and add this set of data:

[code]

It doesn't work, it returns this error:

[code]

I wanted to understand if I'm doing somethi

[2022-06-25 06:01] dclimber commented on #32
@micoloth I have it working with ODMantic, but need to adjust tests, so that they pass.
I guess I can publish it into a branch

[2022-06-25 09:49] micoloth commented on #32
Thank you for your work!

Any of the two branches would be very helpful for me, yes!😌

I can certainly help to work on the tests if that's needed.

Maybe the code can be published as a branch specifying it's WIP work?

[2022-07-01 09:16] nuno-andre commented on #109
Good point, @ChuckMoe! It's truly impressive the amount of boilerplate that can be reduced with SQLModel and FastAPI-CRUDRouter. I've updated the example with the _UpdateModel_ > _CreateModel_ > _BaseModel_ approach.

[2022-07-03 04:56] dclimber commented on #32
@micoloth hey, sorry for a late reply.
Beanie branch: https://github.com/dclimber/fastapi-crudrouter/tree/feature/beanie
ODMantic branch: https://github.com/dclimber/fastapi-crudrouter/tree/feature/odmantic

[2022-07-05 05:56] #156 closed

[2022-07-24 19:50] Akkarine opened #162 "Support piccolo orm"
Probably possible to add [piccolo ORM](https://piccolo-orm.readthedocs.io/en/latest/piccolo/asgi/index.html#routing-frameworks) with very little effort.
It has [own CRUD](https://piccolo-api.readthedocs.io/en/latest/crud/piccolo_crud.html) (but not so customizable).

[2022-07-27 09:40] marcelkwaschny opened #163 "Add the possibility to customize the "item_id" parameter name"
Hi everyone,

it would be very nice to have the possibility  to customize the "item_id" parameter name in order to have a better api documentation.

Thanks
Marcel

[2022-08-12 03:34] serpulga opened #164 "Are you considering adding authentication/authorization in the future?"

[2022-08-23 15:45] nuno-andre commented on #159
Adding another example with _SQLModel_ (which subclasses _Pydantic_'s `BaseModel` and _SQLAlchemy_'s `DeclarativeMeta` avoiding the need to declare model and schema separately).

The above example would look something like this. The tables are set up properly, but the API doesn't show neither `authors` nor `books` fields.

[code]

[2022-08-31 14:03] ulasozguler opened #168 "All ORMs/backends should allow partial updates"
Currently, only tortoise and ormar backends are allowing partial updates.  See relevant line for tortoise below.

https://github.com/awtkns/fastapi-crudrouter/blob/66fd32fafaf191c58c388eb8a849dddef6e569a4/fastapi_crudrouter/core/tortoise.py#L95

Behaviour should be consistent between all backends when possible.

Requirement of fields should be determined by pydantic model as its primary function i

[2022-08-31 14:04] ulasozguler commented on #73
Relevant https://github.com/awtkns/fastapi-crudrouter/issues/168

[2022-09-11 20:19] ChuckMoe commented on #164
You can use other frameworks for it, like [fastapi-users](https://github.com/fastapi-users/fastapi-users), and then use the Depends functionality. Hope this helps.

[2022-09-11 20:23] ChuckMoe commented on #136
@sobeasy
See issue #130 . If this will be implemented, you could use this.

[2022-09-11 20:23] ChuckMoe commented on #130
I would really like to see official support for this functionality! It would make some of my use cases so much easier and also solve  issue #136 ! Is there any progress on this @awtkns ?

[2022-09-14 23:07] awtkns commented on #164
As @ChuckMoe correctly stated there are other frameworks that support this. Authentication / Authorization can also be handled through dependencies which has been supported from the initial release.

More details can be found [here](https://fastapi-crudrouter.awtkns.com/dependencies).

[2022-09-14 23:07] #164 closed

[2022-09-16 15:38] gegnew commented on #54
Bump, here; any plans to implement this?

[2022-09-21 05:27] gegnew commented on #53
@collerek @awtkns Are either of you, or anyone else, working on this feature? If not, maybe I'll try to take a stab at it.

[2022-09-21 05:28] awtkns commented on #53
Hi @gegnew. Not that I know of, it's all yours if you would like to take it :)

[2022-10-14 02:10] cycledriver opened #172 "Allow objects in attributes for create/update routes (sqlalchemy)"
This is something I've implemented for sqlalchemy at my day job.  Wondering if it's useful to others...

For one-2-many and many-2-many relationships, it would be nice to allow the create and update routes to accept a partial object in the foreign key attribute. For example:

	client.post("/heros", json={
	    "name": Bob,
	    "team": {"name": "Avengers"}
	}

As is today, you need to do the follo

[2022-10-26 16:21] nikstuckenbrock opened #173 "Outdated contribution documentation"
The [contribution guidelines](https://fastapi-crudrouter.awtkns.com/contributing) mention to run a postgres database using docker. The file path of the docker-compose file metioned there is outdated because the file extension has been renamed from `.yaml` to `.yml`.

I will provide a pull request to fix this issue.

[2022-10-26 16:22] #173 closed

[2022-10-26 16:22] nikstuckenbrock commented on #173
Scanned the latest commits and found that this bug is already fixed.